@use "../../foundation/forward" as fwd;

/*----------------------------------------
  c-breadcrumb
----------------------------------------*/
.c-breadcrumb {
  --c_text: #A9A9A9;
  --c_active: #242424;
  margin-top: 10px;

  /* WordPressプラグイン「Breadcrumb NavXT」の出力クラス */
  .current-item {
    color: var(--c_active);
  }
}

.c-breadcrumb__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: calc((355 / 375) * 100%);
  margin-right: auto;
  margin-left: auto;
  color: var(--c_text);
  font-size: fwd.make-clamp(10, 15, 375, 768);
  line-height: 1.3;
}

.c-breadcrumb__between {
  width: 20px;
  height: 1px;
  background-color: currentColor;
}

@media (min-width: 768px) {
  .c-breadcrumb {
    margin-top: 18px;
  }
}

@media (min-width: 992px) {
  .c-breadcrumb__inner {
    width: calc((1320 / 1440) * 100%);
    max-width: 1320px;
  }
}