@use "../../foundation/forward" as fwd;

/*----------------------------------------
  c-tab
----------------------------------------*/
.c-tab__list {
  display: flex;
  flex-wrap: wrap;
  width: calc((295 / 335) * 100%);
  margin-right: auto;
  margin-bottom: -15px;
  margin-left: auto;
}

.c-tab__item {
  position: relative;
  margin-right: 20px;
  margin-bottom: 15px;
  padding-left: 14px;
  color: var(--c_category);
  font-size: fwd.make-clamp(12, 14, 375, 768);
  font-weight: 500;
  line-height: calc(17 / 12);
}

.c-tab__item.is-active {
  color: var(--c_base);
}

.c-tab__item.is-active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: currentColor;
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .c-tab__list {
    flex-direction: column;
    row-gap: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .c-tab__item {
    margin: 0;
  }
}