@use "../../foundation/forward" as fwd;

/*----------------------------------------
	p-fv
----------------------------------------*/
.p-fv {
  position: relative;
}

// スマホでファーストビュー画像をタッチしても下方向へスクロールできない問題を回避
// 透明な矩形をファーストビュー画像の上に配置することでタッチ操作を可能にする。
.p-fv::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

.p-fv__inner {
  display: flex;
  flex-direction: column-reverse;
  width: calc((355 / 375) * 100%);
  margin-right: auto;
  margin-left: auto;
}

.p-fv__title {
  width: calc((230 / 355) * 100%);
  margin-top: 31px;
  margin-left: calc((13 / 355) * 100%);
}

.p-fv__slider {
  height: 100vh;
  touch-action: pan-y;
  overflow: hidden;
}

.p-fv__slide {
  height: 100%;
}

.p-fv__img {
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .p-fv__inner {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: calc((1280 / 1440) * 100%);
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
  }

  .p-fv__content {
    width: calc((165 / 1280) * 100%);
    margin-top: 195px;
    margin-left: calc((81 / 1280) * 100%);
  }

  .p-fv__title {
    width: 100%;
    margin: 0;
  }

  .p-fv__slider {
    flex-shrink: 0;
    width: calc((1034 / 1280) * 100%);
    min-height: 667px;
  }
}
