@use "../../foundation/forward" as fwd;

/*----------------------------------------
  p-post-works
----------------------------------------*/
.p-post-works {
  p {
    font-size: fwd.make-clamp(14, 16, 375, 768);
    line-height: calc(32 / 14);
  }
}

.p-post-works__btn-wrap {
  margin-top: 40px;
}

.p-post-works__btn {
  width: 280px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .p-post-works__btn-wrap {
    margin-top: 60px;
  }
}